#!/usr/bin/env bash

TARGET=$(date -d '{{ rtcwake_wake_time }}' +%s)
NOW=$(date +%s)

# If past {{ rtcwake_wake_time }}, schedule tomorrow
if [ "$NOW" -gt "$TARGET" ]; then
  TARGET=$(date -d 'tomorrow {{ rtcwake_wake_time }}' +%s)
fi

/usr/sbin/rtcwake -m no -u -t "$TARGET"
